
<mat-card>
    <mat-card-content>
      <div class="header">
        <p class="bg-danger" style="color: white;">Work In Progress...</p>
        <P>Reset Password </P>
      </div>
      <form>
        <div class="emailInput">
          <mat-form-field class="full-width " appearance="outline">
            <mat-label >Email</mat-label>
            <input 
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <hr>
            <mat-error >
                Email is required
              </mat-error>
          </mat-form-field>
        </div>
<div class="width col">
        <a class="text-link" class="aLink" routerLink="/signup" >Sign Up</a>
          <a class="text-link" class="aLink" routerLink="/login" >Login</a>
      <button class="btn" mat-flat-button color="primary">Reset</button>
    </div>
        
      </form>
    </mat-card-content>
  </mat-card>