mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    min-height: 250px;
    max-height: 500px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button {
    float: initial;
    background-color: black;
    width: 150px;
    height: 35px;
    left: -35px;
  }
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: left;  
    //padding-left: 60px;
    padding-top: 5px;
    text-decoration: none;
  }

  .bLink{
    float: right;  
    padding-right: 60px;
    padding-top: 5px;
    text-decoration: none;
  }