.content-body{
    min-height: 100%;
    padding: 60px 1rem;
    background: #1b1f24;
    display: block;
}
mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    min-height: 250px;
    max-height: 500px;
  }